<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ctrip.wireless.android.crn.business">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
    >

    </application>

</manifest>
